In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder, LabelEncoder
import pandas as pd
import tensorflow as tf
import numpy as np 
from sqlalchemy import create_engine
from config import db_password
import psycopg2

In [2]:
# Import data from PostgreSQL database
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/strokes_db"
engine = create_engine(db_string)
stroke_df = pd.read_sql_table('total_stroke_data', con=engine)

stroke_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,18069,Male,70.0,1,0,Yes,Self-employed,Urban,104.24,34.7,formerly smoked,0
1,49086,Female,23.0,0,0,No,Private,Urban,60.50,27.1,formerly smoked,0
2,19671,Female,58.0,0,0,Yes,Govt_job,Urban,93.15,34.7,never smoked,0
3,59225,Male,48.0,1,0,Yes,Govt_job,Urban,55.25,49.7,never smoked,0
4,25175,Female,56.0,0,0,No,Private,Rural,108.50,28.0,never smoked,0

In [3]:
stroke_df.shape

(30555, 12)

In [4]:
stroke_df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,30555.000000,30555.000000,30555.000000,30555.000000,30555.000000,30555.000000,30555.000000
mean,37047.933759,46.790316,0.107478,0.050826,106.011675,29.841201,0.018884
std,20960.498531,19.459130,0.309725,0.219647,44.847806,7.303919,0.136118
min,1.000000,0.080000,0.000000,0.000000,55.010000,10.100000,0.000000
25%,18964.500000,31.000000,0.000000,0.000000,77.580000,24.750000,0.000000
50%,37399.000000,47.000000,0.000000,0.000000,92.000000,28.800000,0.000000
75%,55172.500000,62.000000,0.000000,0.000000,113.680000,33.700000,0.000000
max,72943.000000,82.000000,1.000000,1.000000,291.050000,97.600000,1.000000

In [5]:
stroke_df.count()

id                   30555
gender               30555
age                  30555
hypertension         30555
heart_disease        30555
ever_married         30555
work_type            30555
residence_type       30555
avg_glucose_level    30555
bmi                  30555
smoking_status       30555
stroke               30555
dtype: int64

In [6]:
# Drop the NaN values
stroke_df = stroke_df.dropna()

In [7]:
stroke_df.count()

id                   30555
gender               30555
age                  30555
hypertension         30555
heart_disease        30555
ever_married         30555
work_type            30555
residence_type       30555
avg_glucose_level    30555
bmi                  30555
smoking_status       30555
stroke               30555
dtype: int64

In [8]:
# Drop id column and reset index
stroke_df = stroke_df.drop(columns='id', axis=1).reset_index(drop=True)
stroke_df.head(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,70.0,1,0,Yes,Self-employed,Urban,104.24,34.7,formerly smoked,0
1,Female,23.0,0,0,No,Private,Urban,60.50,27.1,formerly smoked,0
2,Female,58.0,0,0,Yes,Govt_job,Urban,93.15,34.7,never smoked,0
3,Male,48.0,1,0,Yes,Govt_job,Urban,55.25,49.7,never smoked,0
4,Female,56.0,0,0,No,Private,Rural,108.50,28.0,never smoked,0
5,Female,25.0,0,0,Yes,Private,Rural,74.29,25.7,never smoked,0
6,Female,59.0,0,0,Yes,Private,Urban,152.38,38.5,formerly smoked,0
7,Female,70.0,1,0,Yes,Private,Rural,87.50,36.0,never smoked,0
8,Female,79.0,0,0,Yes,Self-employed,Urban,74.56,43.2,formerly smoked,0
9,Female,82.0,0,0,Yes,Self-employed,Rural,91.34,21.3,never smoked,0

In [9]:
stroke_df.shape

(30555, 11)

In [10]:
for i in ['gender', 'ever_married', 'work_type', 'residence_type', 'smoking_status']:
    print(stroke_df[i].unique())

['Male' 'Female' 'Other']
['Yes' 'No']
['Self-employed' 'Private' 'Govt_job' 'children' 'Never_worked']
['Urban' 'Rural']
['formerly smoked' 'never smoked' 'smokes' 'Unknown']

In [11]:
for i in ['gender','ever_married', 'work_type', 'residence_type', 'smoking_status']:
    print(stroke_df[i].value_counts())

Female    18663
Male      11885
Other         7
Name: gender, dtype: int64
Yes    22295
No      8260
Name: ever_married, dtype: int64
Private          19564
Self-employed     5350
Govt_job          4312
children          1220
Never_worked       109
Name: work_type, dtype: int64
Urban    15340
Rural    15215
Name: residence_type, dtype: int64
never smoked       15747
formerly smoked     7099
smokes              6226
Unknown             1483
Name: smoking_status, dtype: int64

In [12]:
# Delete 'Other' from 'gender' since there are too few values.
stroke_df = stroke_df.loc[stroke_df['gender'] != 'Other']

In [13]:
stroke_df.shape

(30548, 11)

In [14]:
# Encode strings to numerical values
stroke_df['ever_married'] = stroke_df['ever_married'].apply(lambda x: 1 if x == 'Yes' else 0)
stroke_df['residence_type'] = stroke_df['residence_type'].apply(lambda x: 1 if x == 'Urban' else 0)

# Encoding the gender column
gender_num = []
for i in stroke_df['gender']:
    if i == 'Male':
        gender_num.append(0)
    if i == 'Female':
        gender_num.append(1)
        
stroke_df['gender'] = gender_num

stroke_df.head(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,70.0,1,0,1,Self-employed,1,104.24,34.7,formerly smoked,0
1,1,23.0,0,0,0,Private,1,60.50,27.1,formerly smoked,0
2,1,58.0,0,0,1,Govt_job,1,93.15,34.7,never smoked,0
3,0,48.0,1,0,1,Govt_job,1,55.25,49.7,never smoked,0
4,1,56.0,0,0,0,Private,0,108.50,28.0,never smoked,0
5,1,25.0,0,0,1,Private,0,74.29,25.7,never smoked,0
6,1,59.0,0,0,1,Private,1,152.38,38.5,formerly smoked,0
7,1,70.0,1,0,1,Private,0,87.50,36.0,never smoked,0
8,1,79.0,0,0,1,Self-employed,1,74.56,43.2,formerly smoked,0
9,1,82.0,0,0,1,Self-employed,0,91.34,21.3,never smoked,0

In [15]:
# Encoding the 'work_type' column
label_encoder = LabelEncoder()
label_encoder.fit(stroke_df['work_type'])
stroke_df['work_type_le'] = label_encoder.transform(stroke_df['work_type'])

work_type_num = {'Private': 0,
                'Self-employed': 1,
                'Govt_job': 2,
                'children': 3,
                'Never_worked': 4}
stroke_df['work_type_num'] = stroke_df['work_type'].apply(lambda x: work_type_num[x])
stroke_df.drop(columns=['work_type', 'work_type_le'], inplace=True)

stroke_df.head(10)

,gender,age,hypertension,heart_disease,ever_married,residence_type,avg_glucose_level,bmi,smoking_status,stroke,work_type_num
0,0,70.0,1,0,1,1,104.24,34.7,formerly smoked,0,1
1,1,23.0,0,0,0,1,60.50,27.1,formerly smoked,0,0
2,1,58.0,0,0,1,1,93.15,34.7,never smoked,0,2
3,0,48.0,1,0,1,1,55.25,49.7,never smoked,0,2
4,1,56.0,0,0,0,0,108.50,28.0,never smoked,0,0
5,1,25.0,0,0,1,0,74.29,25.7,never smoked,0,0
6,1,59.0,0,0,1,1,152.38,38.5,formerly smoked,0,0
7,1,70.0,1,0,1,0,87.50,36.0,never smoked,0,0
8,1,79.0,0,0,1,1,74.56,43.2,formerly smoked,0,1
9,1,82.0,0,0,1,0,91.34,21.3,never smoked,0,1

In [16]:
# Encoding the data for the smoking_status column
label_encoder.fit(stroke_df['smoking_status'])
stroke_df['smoking_status_le'] = label_encoder.transform(stroke_df['smoking_status'])

smoke_stat_num = {'formerly smoked': 0,
                'never smoked': 1,
                'smokes': 2,
                'Unknown': 3}
stroke_df['smoke_stat_num'] = stroke_df['smoking_status'].apply(lambda x: smoke_stat_num[x])
stroke_df.drop(columns=['smoking_status', 'smoking_status_le'], inplace=True)

stroke_df.head(10)

,gender,age,hypertension,heart_disease,ever_married,residence_type,avg_glucose_level,bmi,stroke,work_type_num,smoke_stat_num
0,0,70.0,1,0,1,1,104.24,34.7,0,1,0
1,1,23.0,0,0,0,1,60.50,27.1,0,0,0
2,1,58.0,0,0,1,1,93.15,34.7,0,2,1
3,0,48.0,1,0,1,1,55.25,49.7,0,2,1
4,1,56.0,0,0,0,0,108.50,28.0,0,0,1
5,1,25.0,0,0,1,0,74.29,25.7,0,0,1
6,1,59.0,0,0,1,1,152.38,38.5,0,0,0
7,1,70.0,1,0,1,0,87.50,36.0,0,0,1
8,1,79.0,0,0,1,1,74.56,43.2,0,1,0
9,1,82.0,0,0,1,0,91.34,21.3,0,1,1

In [17]:
stroke_df = stroke_df[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type_num', 'residence_type', 'avg_glucose_level', 'bmi', 'smoke_stat_num', 'stroke']]
stroke_df.head(10)

,gender,age,hypertension,heart_disease,ever_married,work_type_num,residence_type,avg_glucose_level,bmi,smoke_stat_num,stroke
0,0,70.0,1,0,1,1,1,104.24,34.7,0,0
1,1,23.0,0,0,0,0,1,60.50,27.1,0,0
2,1,58.0,0,0,1,2,1,93.15,34.7,1,0
3,0,48.0,1,0,1,2,1,55.25,49.7,1,0
4,1,56.0,0,0,0,0,0,108.50,28.0,1,0
5,1,25.0,0,0,1,0,0,74.29,25.7,1,0
6,1,59.0,0,0,1,0,1,152.38,38.5,0,0
7,1,70.0,1,0,1,0,0,87.50,36.0,1,0
8,1,79.0,0,0,1,1,1,74.56,43.2,0,0
9,1,82.0,0,0,1,1,0,91.34,21.3,1,0

In [18]:
stroke_df = stroke_df.rename({'work_type_num': 'work_type', 'smoke_stat_num': 'smoking_status'}, axis=1)

stroke_df.head(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,70.0,1,0,1,1,1,104.24,34.7,0,0
1,1,23.0,0,0,0,0,1,60.50,27.1,0,0
2,1,58.0,0,0,1,2,1,93.15,34.7,1,0
3,0,48.0,1,0,1,2,1,55.25,49.7,1,0
4,1,56.0,0,0,0,0,0,108.50,28.0,1,0
5,1,25.0,0,0,1,0,0,74.29,25.7,1,0
6,1,59.0,0,0,1,0,1,152.38,38.5,0,0
7,1,70.0,1,0,1,0,0,87.50,36.0,1,0
8,1,79.0,0,0,1,1,1,74.56,43.2,0,0
9,1,82.0,0,0,1,1,0,91.34,21.3,1,0

In [19]:
# Push data to PostgreSQL database
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/strokes_db"
engine = create_engine(db_string)

In [23]:
stroke_df.to_sql(name='stroke_data_clean', con=engine, index=False)

In [22]:
# Save file to CSV
file_path = "Resources/stroke_prediction_cleaned.csv"
stroke_df.to_csv(file_path, index=False)